<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form >
        <h1 class="titulo">Inga Gerenciamentos</h1>
        <h2 class="subtitulo">Mais eficiência no controle de tarefas</h2>

        <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome">
        <input [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" class="input-form" type="password" placeholder="Digite sua senha">
        <app-button textButton="Login" (click)="login(name, senha)"></app-button>

        <p>Não tem uma conta? <a href="signup">Cadastrar</a></p>

        <p class="error">{{errorMessage}}</p>
    </form>
    <p class="footer fw-bold">© 2024 - Desenvolvido por Angelo Salvador Avelino</p>

</div>
